<?php

$finder = PhpCsFixer\Finder::create()
    ->in([__DIR__])
    ->exclude([
        'cache',
        'build',
        'vendor',
    ]);

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PHP71Migration:risky' => true,
        'declare_strict_types' => false,
        'void_return' => false,
        
        
        // Each line of multi-line DocComments must have an asterisk [PSR-5] and must be aligned with the first one.
        'align_multiline_comment'               => ['comment_type' => 'phpdocs_like'],
        // Binary operators should be surrounded by space as configured.
        'binary_operator_spaces'                => [
            'align_double_arrow' => true,
            'align_equals'       => false
        ],
        // Equal sign in declare statement should be surrounded by spaces or not following configuration.
        'declare_equal_normalize'               => false,
        // Transforms imported FQCN parameters and return types in function arguments to short version.
        'fully_qualified_strict_types'          => true,
        // There should not be an empty `return` statement at the end of a function.
        'no_useless_return'                     => true,
        // Annotations in PHPDoc should be ordered so that `@param` annotations come first, then `@throws` annotations, then `@return` annotations.
        'phpdoc_order'                          => true,
        
        
        
        // merge from template
        'concat_space' => [
            'spacing' => 'one',
        ],
        // 'no_blank_lines_after_phpdoc' => false,
        'no_superfluous_phpdoc_tags' => false,
        /*'phpdoc_align' => [
            'align' => 'left',
        ],*/
        'phpdoc_separation' => false,
        'phpdoc_summary' => true, // originally false, but true is default for Doctrine
        'single_line_throw' => false,
        'yoda_style' => [
            'equal' => false,
            'identical' => false,
        ],
        'native_function_invocation' => false,
        'non_printable_character' => [
            'use_escape_sequences_in_strings' => true,
        ],
        'array_indentation' => true,
        'no_null_property_initialization' => true,
    ])
    ->setFinder($finder)
    ->setCacheFile(__DIR__ . '/.php_cs.cache');
