<phpunit bootstrap="vendor/autoload.php" colors="true" stderr="true">
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
    </listeners>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Phpunit/ResultPrinter.php</file>
            <file>src/Phpunit/TestCase.php</file>
        </exclude>
        <report>
            <php outputFile="coverage/phpunit.cov" />
        </report>
    </coverage>
</phpunit>
