name: Unit Testing

on:
  pull_request:
    branches: '*'
  push:
    branches:
      - master
      - develop

jobs:
  unit-test:
    name: Unit Testing
    runs-on: ubuntu-latest
    container:
      image: atk4/image:${{ matrix.php }} # https://github.com/atk4/image
    strategy:
      matrix:
        php: ['7.2', '7.3', 'latest']
    steps:
      - uses: actions/checkout@v2
      - run: php --version

      # need this to trick composer that this is a "atk4/core:develop" dependency to install atk4/data
      - name: Rename HEAD to develop for Composer
        run: git switch -C develop HEAD

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"

      - uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('composer.json') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - run: composer install --no-progress --no-suggest --prefer-dist --optimize-autoloader

      - name: Run Tests
        run: |
          mkdir -p build/logs

      - name: SQLite Testing
        run: vendor/bin/phpunit --configuration phpunit.xml --coverage-text

      - uses: codecov/codecov-action@v1
        if: matrix.php == 'latest'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: build/logs/clover.xml
